torch>=1.7.1
probtorch
numpy # don't forget mkl
typeguard
tqdm
scipy

# testing
pytest
pytest-mock
pytest-cov
hypothesis
typeguard
# mypy # : ( mypy, why do fail me so often?

# docs
Sphinx

# maybe optional
pandas

# debugging
ipdb
tensorboard

# visualization / notebooks
matplotlib
