torch>=1.7.1
probtorch
numpy # don't forget mkl
typeguard
tqdm

# testing
pytest
pytest-mock
pytest-cov
hypothesis
typeguard
# mypy # : ( mypy, why do fail me so often?
# sparklines

# docs
Sphinx

# maybe optional
pandas
scipy

# dataset dependencies
torchvision
scikit-image
scikit-learn

# debugging
ipdb
tensorboard

# visualization / notebooks
matplotlib
seaborn
ipywidgets

# currently having some trouble with mach-nix
hydra-core>=1.0.0
hydra_colorlog
